#include <physical_layouts.dtsi>

/ {
    ansi_layout_0: ansi_ansi_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-1";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 200 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 625 100  675  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_1: ansi_ansi_layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-2";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 200 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 625 100  675  400       0     0     0>
            , <&key_physical_attrs 150 100 1300  400       0     0     0>
            , <&key_physical_attrs 150 100 1450  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_2: ansi_ansi_layout_2 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-backspace-1";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 625 100  675  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_3: ansi_ansi_layout_3 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-backspace-2";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 625 100  675  400       0     0     0>
            , <&key_physical_attrs 150 100 1300  400       0     0     0>
            , <&key_physical_attrs 150 100 1450  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_4: ansi_ansi_layout_4 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-space-1";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 200 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 225 100  675  400       0     0     0>
            , <&key_physical_attrs 125 100  900  400       0     0     0>
            , <&key_physical_attrs 275 100 1025  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_5: ansi_ansi_layout_5 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-space-2";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 200 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 225 100  675  400       0     0     0>
            , <&key_physical_attrs 125 100  900  400       0     0     0>
            , <&key_physical_attrs 275 100 1025  400       0     0     0>
            , <&key_physical_attrs 150 100 1300  400       0     0     0>
            , <&key_physical_attrs 150 100 1450  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_6: ansi_ansi_layout_6 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-space-split-backspace-1";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 225 100  675  400       0     0     0>
            , <&key_physical_attrs 125 100  900  400       0     0     0>
            , <&key_physical_attrs 275 100 1025  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

    ansi_layout_7: ansi_ansi_layout_7 {
        compatible = "zmk,physical-layout";
        display-name = "Marvelous65-ansi-split-space-split-backspace-2";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 150 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  100       0     0     0>
            , <&key_physical_attrs 150 100 1650  100       0     0     0>
            , <&key_physical_attrs 175 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100 1275  200       0     0     0>
            , <&key_physical_attrs 100 100 1375  200       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 225 100 1575  200       0     0     0>
            , <&key_physical_attrs 225 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  725  300       0     0     0>
            , <&key_physical_attrs 100 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  925  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1125  300       0     0     0>
            , <&key_physical_attrs 100 100 1225  300       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 175 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  325       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  550  400       0     0     0>
            , <&key_physical_attrs 225 100  675  400       0     0     0>
            , <&key_physical_attrs 125 100  900  400       0     0     0>
            , <&key_physical_attrs 275 100 1025  400       0     0     0>
            , <&key_physical_attrs 150 100 1300  400       0     0     0>
            , <&key_physical_attrs 150 100 1450  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  425       0     0     0>
            , <&key_physical_attrs 100 100 1725  425       0     0     0>
            , <&key_physical_attrs 100 100 1825  425       0     0     0>
            ;
    };

};