/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

// caps_word override must be a root-level node reference (outside / { })
// Extend continue-list: survive UNDERSCORE, MINUS, BACKSPACE, DELETE
// without dropping out of caps-word mode.

&caps_word { continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>; };

/ {
    // Activate ADJUST layer when LOWER + RAISE are both active

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_fat_arrow {
            bindings = <&fat_arrow>;
            key-positions = <31 32>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_thin_arrow {
            bindings = <&thin_arrow>;
            key-positions = <32 33>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_equals {
            bindings = <&equals>;
            key-positions = <19 20>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_not_equals {
            bindings = <&not_equals>;
            key-positions = <20 21>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_logical_or {
            bindings = <&logical_or>;
            key-positions = <46 47>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_logical_and {
            bindings = <&logical_and>;
            key-positions = <45 46>;
            timeout-ms = <50>;
            layers = <1>;
        };

        // Left-hand programming shortcuts: comments, null-safety, counters, and comparisons.
        combo_block_comment_open {
            bindings = <&block_comment_open>;
            key-positions = <25 26>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_block_comment_close {
            bindings = <&block_comment_close>;
            key-positions = <26 27>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_optional_chain {
            bindings = <&optional_chain>;
            key-positions = <27 28>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_increment {
            bindings = <&increment>;
            key-positions = <28 29>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_decrement {
            bindings = <&decrement>;
            key-positions = <37 38>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_less_equal {
            bindings = <&less_equal>;
            key-positions = <38 39>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_greater_equal {
            bindings = <&greater_equal>;
            key-positions = <39 40>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_null_coalesce {
            bindings = <&null_coalesce>;
            key-positions = <40 41>;
            timeout-ms = <50>;
            layers = <1>;
        };

        combo_null_coalesce_assign {
            bindings = <&null_coalesce_assign>;
            key-positions = <41 42>;
            timeout-ms = <50>;
            layers = <1>;
        };
    };

    behaviors {
        fat_arrow: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp EQUAL>, <&macro_tap>, <&kp LS(DOT)>;
        };

        thin_arrow: thin_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp MINUS>, <&macro_tap>, <&kp LS(DOT)>;
        };

        equals: equals {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp EQUAL>, <&macro_tap>, <&kp EQUAL>;
        };

        not_equals: not_equals {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp EXCL>, <&macro_tap>, <&kp EQUAL>;
        };

        logical_or: logical_or {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp PIPE>, <&macro_tap>, <&kp PIPE>;
        };

        logical_and: logical_and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp AMPS>, <&macro_tap>, <&kp AMPS>;
        };

        block_comment_open: block_comment_open {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp FSLH>, <&macro_tap>, <&kp ASTRK>;
        };

        block_comment_close: block_comment_close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp ASTRK>, <&macro_tap>, <&kp FSLH>;
        };

        optional_chain: optional_chain {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp LS(SLASH)>, <&macro_tap>, <&kp DOT>;
        };

        increment: increment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp PLUS>, <&macro_tap>, <&kp PLUS>;
        };

        decrement: decrement {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp MINUS>, <&macro_tap>, <&kp MINUS>;
        };

        less_equal: less_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp LT>, <&macro_tap>, <&kp EQUAL>;
        };

        greater_equal: greater_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp GT>, <&macro_tap>, <&kp EQUAL>;
        };

        null_coalesce: null_coalesce {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp LS(SLASH)>, <&macro_tap>, <&kp LS(SLASH)>;
        };

        null_coalesce_assign: null_coalesce_assign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap>, <&kp LS(SLASH)>, <&macro_tap>, <&kp LS(SLASH)>, <&macro_tap>, <&kp EQUAL>;
        };

        // code_fence: types ```<newline><newline>``` then Up arrow
        // so cursor lands on the blank line inside the fence.

        code_fence: code_fence {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_tap>,
                <&kp RET>,
                <&macro_tap>,
                <&kp RET>,
                <&macro_tap>,
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_tap>,
                <&kp UP>;
        };

        // btick_code: tap=` | hold=code_fence  (used on LOWER layer only)

        btick_code: btick_code {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&code_fence>, <&kp>;
        };

        // Encoder mouse scroll behaviors
        msc_up_down: msc_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };

        msc_left_right: msc_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |  gresc |  1   |  2   |  3    |  4    |  5    |                   |  6    |  7    |  8    |  9    |   0   |  -/_  |
            // |  TAB   |  Q   |  W   |  E    |  R    |  T    |                   |  Y    |  U    |  I    |  O    |   P   |   \   |
            // |CAPS_WRD|  A   |  S   |  D    |  F    |  G    |                   |  H    |  J    |  K    |  L    |   ;   |   '   |
            // | SHIFT  |  Z   |  X   |  C    |  V    |  B    |  MUTE  |  | PLAY  |  N    |  M    |  ,    |  .    |   /   | SHIFT |
            //                 | GUI  |  ALT  | CTRL  | LOWER |  BSPC  |  |  RET  |RSE/SPC| RCTRL | RALT  | RGUI  |

            bindings = <
&gresc      &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                                      &kp N6       &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB     &kp Q   &kp W     &kp E     &kp R      &kp T                                       &kp Y        &kp U      &kp I      &kp O     &kp P     &kp BACKSLASH
&caps_word  &kp A   &kp S     &kp D     &kp F      &kp G                                       &kp H        &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT   &kp Z   &kp X     &kp C     &kp V      &kp B      &kp C_MUTE     &kp C_PP          &kp N        &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                    &kp LGUI  &kp LALT  &kp LCTRL  &mo 1        &kp BACKSPACE &kp RET           &lt 2 SPACE  &kp RCTRL  &kp RALT   &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_NEXT C_PREV>;
        };

        lower_layer {
            display-name = "lower";

            // ------------------------------------------------------------------------------------------------------------
            // | `/```  |  F1  |  F2  |  F3   |  F4   |  F5   |                   |  F6   |  F7   |  F8   |  F9   |  F10  |  F11  |
            // | F12    |  1   |  2   |  3    |  4    |  5    |                   |  6    |  7    |  8    |  9    |   0   |  =    |
            // |        |  !   |  @   |  #    |  $    |  %    |                   |  ^    |  (    |  )    |  [    |   ]   |  {    |
            // |        |  &   |  *   |  -    |  _    |  |    |        |  +       |  }    |  <    |  >    |  ;    |   :   |  \   |
            //                 |      |       |       |       |        |  |       |       |       |       |       |

            bindings = <
&btick_code 0 GRAVE  &kp F1     &kp F2     &kp F3    &kp F4    &kp F5                               &kp F6     &kp F7    &kp F8     &kp F9     &kp F10   &kp F11
&kp F12              &kp N1     &kp N2     &kp N3    &kp N4    &kp N5                               &kp N6     &kp N7    &kp N8     &kp N9     &kp N0    &kp EQUAL
&trans               &kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT                            &kp CARET  &kp LPAR   &kp RPAR   &kp LBKT   &kp RBKT  &kp LBRC
&trans               &kp AMPS   &kp ASTRK  &kp MINUS &kp UNDERSCORE &kp PIPE &kp PLUS              &kp RBRC   &kp LT     &kp GT     &kp SEMI   &kp COLON &kp BSLH &trans
                                &trans     &trans    &trans    &trans     &trans    &trans          &trans     &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>, <&inc_dec_kp LC(RIGHT_ARROW) LC(LEFT_ARROW)>;
        };

        raise_layer {
            display-name = "raise";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR  | BT1  | BT2  |  BT3  |  BT4  |  BT5  |                   |       | PSCR  |  INS  | P_BRK | W_DEL |  DEL  |
            // | OUT_TOG|      | MB4  | M_UP  | MB5   |SCRL_UP|                   | PG_UP | W_LFT |   UP  | W_RGT | HOME  |       |
            // |        |      |M_LEFT| M_DOWN|M_RIGHT|SCRL_DN|                   | PG_DN |  LEFT |  DOWN | RIGHT |  END  |       |
            // |        |      | LCLK |  MCLK |  RCLK |       |        |  |       |       |       |       |       |       |       |
            //                 |      |       |       |       |        |  |       |       |       |       |       |

            bindings = <
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3     &bt BT_SEL 4                      &trans     &kp PRINTSCREEN     &kp INS   &kp PAUSE_BREAK      &kp LC(BACKSPACE)  &kp DEL
&out OUT_TOG  &trans        &mkp MB4        &mmv MOVE_UP    &mkp MB5         &msc SCRL_UP                      &kp PG_UP  &kp LC(LEFT_ARROW)  &kp UP    &kp LC(RIGHT_ARROW)  &kp HOME           &trans
&trans        &trans        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN                    &kp PG_DN  &kp LEFT            &kp DOWN  &kp RIGHT            &kp END            &trans
&trans        &trans        &mkp LCLK       &mkp MCLK       &mkp RCLK        &trans          &trans    &trans  &trans     &trans              &trans    &trans               &trans             &trans
                            &trans          &trans          &trans           &trans          &trans    &trans  &trans     &trans              &trans    &trans
            >;

            sensor-bindings = <&msc_up_down>, <&msc_left_right>;
        };

        adjust_layer {
            display-name = "adjust";

            // ------------------------------------------------------------------------------------------------------------
            // | EP_TOG |      |      |       |       |       |                   |       |       |       |       |       |       |
            // | RESET  |      |      |       |       |       |                   |       |       |       |       |       |       |
            // | BOOTLDR|      |      |       |       |       |                   |       |       |       |       |       |       |
            // | STUDIO |      |      |       |       |       |        |  |       |       |       |       |       |       |       |
            //                 |      |       |       |       |        |  |       |       |       |       |       |       |

            bindings = <
&ext_power EP_TOG  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&sys_reset         &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&bootloader        &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&studio_unlock     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            status = "reserved";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
